<!DOCTYPE html>
<html>
<head>
    <style>
        body { font-family: Arial, sans-serif; color: #333; margin: 0; padding: 0; }
        h2 { color: #2C3E50; font-size: 24px; margin-bottom: 15px; }
        p { font-size: 16px; margin: 5px 0; }
        .password { font-weight: bold; color: red; }
        /* Make the email mobile-friendly */
        @media screen and (max-width: 600px) {
            h2 { font-size: 20px; }
            p { font-size: 14px; }
        }
    </style>
</head>
<body>
    <div style="max-width: 600px; margin: 0 auto; padding: 20px;">
        <h2>IES - Password Reset</h2>
        <p>Dear User,</p>
        <p>Your temporary password is: <span class="password">{{tempPassword}}</span></p>
        <p>Please use it to unlock your account by using the link below: <br><br>
        <a href="http://10.11.54.70:3000/resetting-password" style="color: #007BFF; text-decoration: none;">Link</a></p>
        <br>
        <p>Thank you,</p>
        <p><strong>IES Support Team</strong></p>
    </div>
</body>
</html>
